@import "assets/variables.scss";

.custom-button-group :global {
  .ant-btn {
    &:first-child {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    &:last-child {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

.custom-button {
  border-radius: 4px;
  outline: none;
  box-shadow: unset;
  border: 1px solid $text-level3;
  color: $text-level3;

  :global(.anticon) {
    color: $text-level3;
    font-size: 16px;
    float: left;
    margin-right: -4px;
    vertical-align: 0;
  }
  &:hover,
  &:focus {
    border: 1px solid $primary-color;
    color: $primary-color;
    :global(.anticon) {
      color: $primary-color;
    }
  }

  &:global.ant-btn-primary {
    background: $primary-color;
    color: #ffffff;
    &:hover,
    &:focus {
      color: #ffffff;
      background: $button-active;
    }
  }

  &:global.ant-btn-link {
    color: $primary-color;
    border: none;
    &:hover,
    &:focus {
      color: $link-active;
    }
  }

  &:global.ant-btn-dangerous {
    color: $dangerous;
    border-color: $dangerous;
    &:hover,
    &:focus {
      color: $dangerous-active;
      border-color: $dangerous-active;
    }
  }

  &:global.ant-btn-icon-only {
    .anticon {
      float: unset;
      margin-right: 0;
    }
  }

  &:global.ant-btn-circle {
    border-radius: 50% !important;
  }

  &:global.ant-btn-circle.ant-btn-icon-only {
    border-radius: 50% !important;
  }
}
