html {
  font-size: 15px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none;
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

/* Table */
.ant-table-row-expand-icon-cell {
  padding-right: 0 I !important;
}

.ant-table-cell.actions-cell {
  padding-left: 0 !important;
}

/* FORM */
.status-form {
  .field-number {
    text-align: right;
  }
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-card-actions {
    padding-left: 24px;
    padding-right: 24px;
  }
  .ant-card-actions > li {
    text-align: right;
  }
}

.ant-form-vertical.vertical-compact {
  .ant-form-item {
    margin-bottom: 0;
  }
}
