html {
  font-size: 15px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none;
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

/* Table */
.ant-table-row-expand-icon-cell {
  padding-right: 0 I !important;
}

.ant-table-cell.actions-cell {
  padding-left: 0 !important;
}
