// Variables
$primary-color: #5c6ac4;
$layout-header-height: 40px;
$border-radius-base: 2px;
$box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

$background-main: #ffffff;
$background-active: #f2f7ff;
$text-level1: #131523;
$text-level2: #343a40;
$text-level3: #6c757d;
$border-color: #efefef;
$border-color-control: #d9d9d9;
$button-active: #5867c7;
$link-active: #2b3fbd;
$dangerous: #c41d7f;
$dangerous-active: #ff4d4f;
